<h1>My Tasks</h1>

<ul>
<% @tasks.each do |task| %>
  <li>
    <% if task.completed == true %>
      <i class="fa-solid fa-square-check"></i>
    <% else %>
      <i class="fa-solid fa-square"></i>
    <% end %>
    <%= link_to task.title, task_path(task.id) %>
    <%= link_to task_path(task), method: :delete, data: { confirm: "Are you sure?" } do %>
      <i class="fa-solid fa-trash"></i>
    <% end %>
  </li>
<% end %>
</ul>

<%= link_to "Add a new Task", new_task_path %>
